<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>New Appointment</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>Book a New Appointment</h1>

  <form action="/appointments" method="POST">
    <label for="date">Date:</label>
    <input type="date" name="date" id="date" required />

    <label for="reason">Reason for Visit:</label>
    <input type="text" name="reason" id="reason" required />

    <button type="submit">Book Appointment</button>
  </form>
</body>
</html>
